@import url(https://fonts.bunny.net/css?family=arizonia:400);
@import url('https://fonts.googleapis.com/css2?family=Ruwudu:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

*:not(dialog) {
    margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

#root,
#__next {
    isolation: isolate;
}

/* MY CODE */

:root {
    --primary-color: rgb(2, 38, 44);
    --secondary-color: rgb(8, 101, 117);
    --soft-shadow: 3px 3px 5px #00000050;
}

.container {
    display: flex;
    min-height: 100vh;
    align-content: space-between;
}

.left-section {
    flex: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background-image: url(background-hero.jpg);
    background-repeat: no-repeat;
    background-size: 160%;
    background-position: 10% 10%;
}

.logo-section {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 200px;
    margin-top: 300px;

    font-size: 120px;
    font-family: 'Arizonia', display;
    color: white;
    background-color: #01022250;

    backdrop-filter: blur(5px);
}

.photo-credits {
    margin-bottom: 25px;

    font-size: 24px;
    color: white;

}

a {
    color: inherit;
    font-weight: bold;
}

.right-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 2.3;
}

.right-section>* {
    padding-left: 40px;
}

.about-form,
.action-section {
    flex: 1.3;
    background-color: #eff1ff;
}

.about-form {
    display: flex;
    flex-direction: column;
    justify-content: end;

    font-family: "Ruwudu", serif;
    font-weight: 500;
    font-size: 24px;
}

.about-form>p {
    width: 50ch;
}

.slogan-phrase {
    margin-top: 1em;
    padding-bottom: 60px;
}

.italic {
    font-style: italic;
}

.form-container {
    padding-top: 20px;
    display: flex;
    width: 100%;

    flex-wrap: wrap;
    flex: 1;
    z-index: 1;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

#sign-up-form {
    width: 100%;
    padding-bottom: 40px;
}

form>h1 {
    font-family: "Ruwudu", sans-serif;
    font-size: 3em;
}

.form-row {
    position: relative;
    display: inline-block;
    width: 35%;
    margin-bottom: 15px;
}

.form-row>span {
    width: 350px;
    position: absolute;
    left: 0;
    color: red;
}

label,
input {
    font-family: "Comfortaa", sans-serif;

}

.form-row>label {
    display: inline-block;
    width: 200px;
    margin-top: 15px;

    font-weight: 600;

}

.form-row>input {
    width: 300px;
    height: 40px;

    padding-left: 10px;


    border: 2px solid var(--primary-color);
    border-radius: 4px;

    font-size: 1.1em;
}

.btn-submit {
    cursor: pointer;

    height: 50px;
    width: 250px;
    border: none;
    border-radius: 10px;

    box-shadow: 3px 3px 5px #00000050;

    margin-top: 40px;
    margin-bottom: 40px;

    font-family: 'Comfortaa', sans-serif;
    font-size: 1.2em;
    font-weight: bold;

    color: white;
    background-color: var(--primary-color);
}

.btn-submit:hover {
    background-color: var(--secondary-color);
}

.log-in {
    color: var(--primary-color);
}

.log-in-callout {
    font-size: 18px;
}


/* INPUT VALIDATION */

input:required + span::before {
    padding: 3px 8px;
    background-color: rgb(153, 69, 0);
    border-radius: 1px;

    content: 'required';

    position: absolute;
    top: -32px;
    right: 50px;

    font-weight: bold;
    color: white;
}

input:not(:required) + span::before {
    padding: 3px 8px;
    background-color: rgb(174, 184, 178);
    border-radius: 1px;

    content: 'optional';

    position: absolute;
    top: -32px;
    right: 50px;

    font-weight: bold;
    color: white;
}

input:user-valid+span::after{
    content: '\2714';

    font-size: 30px;

    position: absolute;
    right: 20px;
    top: -3px;

    color: green;
}

input:user-invalid+span::after {
    content: "\2715";

    font-size: 30px;

    position: absolute;
    right: 20px;
    top: -3px;
}

input[type='text']:user-invalid,
input[type='password']:user-invalid {
    border: 2px solid red;
}

input:user-invalid{
    border: 2px solid red
}

input:user-valid{
    border: 2px solid green;
}

input:focus {
    outline: none;
    box-shadow: var(--soft-shadow);
    border: 3px solid var(--secondary-color);
}